    *{
    margin: 0 auto;
    box-sizing: border-box;
    }
    body {
        width: 960px;
        border: 1px black;
        background-color: #fdfdfd;
        border: 2px solid;
    }
    .header {
        height: 100px;
        background-color: #d6289a;
        position: relative;
    }
    .header img {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color:#F0b6d7;
    position: absolute;
    }
    .header h1 {
        position: absolute;
        top: 20px;
        left: 110px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .header p {
        position: absolute;
        top: 60px;
        left: 110px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    }
    .header form {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .menu-parent {
        position: absolute;
        right: -5px;
        top: 52px;
        list-style: none;
        display: flex;
    }
    .menu-parent a {
        color: black;
        display: block;
        text-decoration: none;
        background-color:#F0b6d7;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px 10px;
        margin-left: 2px;
    }     
    .menu-parent a:hover {
        color: brown;
    }
    .menu-child {
        display: none;
    }
    .menu-parent li:hover .menu-child {
        display: block;
        position: absolute;
        margin-left: -40px;
        list-style: none;
    }
    .contain{
        height: 200px;
        background-color: #fff;
    }
    .contain img {
        height: 230px;
        width: 956px;
    }
    .section {
        width: 70%;
        float: left;
        padding: 40px 40px 20px 10px;
        background-color: #fff;
    }
    .section form {
        width: 60%;
        float: left;
        padding-right: 40px;
    }
    .section h4 {
        border-bottom: 2px #e86875 dashed;
        line-height: 40px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .section h1 {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #d6289a;
    }
    .section p {
        margin-top: 20px;
        font-size: 20px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: #e86875 1px 1px;

    }
    .form-col {
        width: 50%;
        float: left;
        font-size: 15px;
        color: gray;
    }
    
    .form-row {
        clear: both;
        line-height: 30px;
        color: gray;
    }
    .section input {
        width: 300px;
        background-color: #f7f7f7;
        border: 1px solid gray;
        height: 30px;
    }
button {
    color: gray;
}
.section-right {
    width: 30%;
    float: right;
    margin-top: -300px;
}
.aside {
    width: 28%;
    float: right;
    margin: 30px 0%;
    background-color: #FFc0cb;
    border-style: solid;
}
.aside h3 {
    font-size: 20px;
}
.aside img {
    margin: 0 auto;
    width: 263px;
    height: 250px;
}
.icon img {
width: 30px;
height: 30px;
margin-left: 6px;
}
.footer {
    clear: both;
    background-color: #d6289a;
    padding: 5px;
}

